*{
	background-color:#FAFAD2;
}
body{
	background-color:#FAFAD2;
}
header{
	color:grey;
	font-size:1.5em;
	
}
header span {
	font-size: 0.3em;
	color:grey;

}
#icons{
	font-size: 3em;
}
p{
	font-size:0.4em;
}



i{
color:orange;	
}
div.container{
	padding-left:3em;
	padding-right:3em
}
#hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}