* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header {
    padding: 10px 0px 15px;
    box-shadow: 3px 2px 4px 2px grey;
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 99;
}

.header-container {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}

.header-menu {
    max-width: 120px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-link-wrapper {
    width: 100%;
    max-width: 150px;
}

.header-link {
    text-decoration: none;
    color: rgba(4, 32, 110, 0.664);
    font-weight: 700;
    font-size: 36px;
}

.header-search {
    width: 100%;
    display: flex;
    padding-right: 20px;
    justify-content: flex-end;
}

.header-search-btn {
    max-width: 40px;
    width: 100%;
    border-radius: 0px 7px 7px 0px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-btn svg {
    width: 25px;
    color: rgba(0, 0, 0, 0.6)
}

.header-search_input {
    width: 100%;
    max-width: 200px;
    padding: 6px 16px;
    border: 1px solid grey;
    border-radius: 7px 0px 0px 7px;
    text-align: center;
}

.header-search_input:focus {
    text-decoration: none;
    outline: none;
}

.header-modal-menu__item-img,
.header-menu_account-img,
.header-menu_account-login,
.header-menu_btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-menu_account-login:hover,
.header-menu_account-img:hover,
.header-menu_btn:hover {
    background-color: #EAE6E6;
}

.header-menu_account-login .account-img-wrapper {
    font-size: 12px;
}



.header-menu_btn .menu_btn {
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.header-menu_btn svg {
    width: 25px;
    height: 25px;

}

.header-modal-menu__item-img,
.account-img-wrapper {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.account-img-wrapper {
    pointer-events: none;
}

.account-img-wrapper img {
    width: 100%;
}

.header-modal-menu {
    display: none;
}

.header-modal-account {
    display: none;
}


.header-modal-account.active {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 1px 3px 2px grey;
    top: 65px;
    right: 10px;
    position: absolute;
    width: 200px;
    height: 230px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

.header-modal-account_image-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    pointer-events: none;
}

.header-modal-account-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.header-modal-account-btn,
.header-modal-account-btn-logout {
    cursor: pointer;
    border: none;
    background: none;
}

.header-modal-account-btn+.header-modal-account-btn-logout {
    margin-top: 7px;
}

.header-modal-account_image-wrapper {
    max-width: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.header-modal-account_image-wrapper img {
    width: 100%;
}

.header-modal-menu.active {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 1px 3px 2px grey;
    top: 65px;
    right: 10px;
    position: absolute;
    width: 230px;
    height: 230px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px 20px 0;
}

.header-modal-menu__item {
    width: 80px;
    height: 80px;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.header-modal-menu__item:hover {
    background-color: #EAE6E6;
}

.header-modal-menu__item-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NEWS */

.nav {
    padding-top: 100px;
}

.nav .container {
    display: flex;
}


.container {
    margin: 0 auto;
    max-width: 1210px;
    padding: 0 20px;
}

.navLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-links_link {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 5px;
}



.nav-links_link:hover {
    text-decoration: underline;
}

/* .nav-links_link:hover img {
    transform: scale(1.2);
} */

.nav-links_link-img-wrapper {
    width: 100%;
    max-width: 300px;
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-links_link-img-wrapper img {
    width: 100%;
    transition: all .2s ease-in;
}

.nav-links_link-title {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);

}

.news-section {
    padding: 40px 0;
}

.news-title {
    text-align: center;
    margin-bottom: 30px;
}

.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.news {
    width: 100%;
    max-width: 570px;
    justify-content: space-between;
    display: flex;
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #EAE6E6;
    color: rgba(0, 0, 0, 0.8);
    transition: all .2s ease-in;
    margin-bottom: 20px;
}

.advertising {
    width: 100%;
    max-width: 200px;
    padding: 5px 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 30px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
}

.advertising-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 190px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.advertising-item img {
    width: 100%;
    overflow: hidden;
}


.news:hover .news-content-title {
    text-decoration: underline;
}

/* .news:hover img {
    transform: scale(1.2);
} */

.news-content-title {
    margin-bottom: 5px;
}

.news-image {
    width: 120px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.news-content {
    max-width: 400px;
    width: 100%;
}

.news-image img {
    width: 120px;
    height: 80px;
    transition: all .2s ease-in;
}

.news-content-info {
    font-size: 14px;
}

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: lightgray;
}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list_item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8)
}

.footer-list_item+.footer-list_item {
    margin-left: 30px;
}

.nodisplay {
    display: none;
}

.label {
    pointer-events: none;
}

.modal-login-page {
    width: 100%;
    max-width: 340px;
    position: fixed;
    background-color: #EAE6E6;
    padding: 40px 40px 30px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    top: 30px;
}

.modal-login-page_form {
    display: flex;
    flex-direction: column;
}

.modal-ligin-page_form-exit {
    top: 8px;
    right: 8px;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(4, 32, 110, 0.664);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-ligin-page_form-exit svg {
    width: 100%;
    width: 20px;
    height: 20px;
    color: rgba(4, 32, 110, 0.664);
}

.modal-login-page-title {
    text-align: center;
    margin-bottom: 36px;
}


.modal-login-page_form label {
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-login-page_form-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 6px 1px 6px 8px;
    border-radius: 10px;
}

.modal-login-page_form label+label {
    margin-top: 14px;
    margin-bottom: 20px;
}

.modal-login-page_form-login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.modal-login-page_form-login-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-link {
    font-size: 14px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8)
}

.password-link:hover {
    text-decoration: underline;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.login-btn {
    border: none;
    text-decoration: none;
    padding: 7px 12px 8px 10px;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    background-color: rgba(4, 32, 110, 0.664);
    cursor: pointer;
}

.modal-login-page_form p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-login-page_form input:focus {
    outline: none;
}

.login-btn:hover {
    font-weight: bold;
}

.blog-article,
.blog {
    width: 100%;
}

.blog-article h1,
.blog h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0.8rem;
}

.blog-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    color:rgba(0, 0, 0, 0.6);
}

.blog-article p {
    margin-bottom: 1rem;
    text-indent: 1rem;
}

.blog-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blog-item {
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid grey;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.blog-item__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
}

.blog-item__title {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
    position: relative;
    color:rgba(0, 0, 0, 0.8);
}

.blog-item__desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
}

.blog-items-tags {
    list-style-type: none;
    position: absolute;
    bottom: .3rem;
    display: flex;
    left: 9rem;
    width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-items-tag {
    font-size: .9rem;
}

.blog-items-tag+.blog-items-tag  {
    margin-left: .3rem;
}

.blog-item__img-wrapper {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
}

.lock-wrapper {
    position: absolute;
    width: 15px;
    height: 13px;
    right: 12px;
    top: 10px;
}

.lock-wrapper path{
    color: rgba(230, 28, 28, 0.87);
    opacity: 0.7;
}

@media screen and (max-width: 1180px) {
    .news {
        max-width: 520px;
    }
}

@media screen and (max-width: 1080px) {
    .news {
        max-width: 480px;
    }

    .navLinks {
        justify-content: space-around;

    }
}

@media screen and (max-width: 1000px) {
    .news {
        max-width: 420px;
    }
}

@media screen and (max-width: 939px) {
    .navLinks {
        justify-content: space-around;
    }
}

@media screen and (max-width: 880px) {
    .news {
        max-width: 380px;
    }

    .nav .container {
        display: flex;
        flex-direction: column;
    }

    .advertising {
        max-width: 8700px;
        flex-wrap: wrap;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .news {
        max-width: 380px;
    }

    .news-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .blog-item__title {
        font-size: 1rem;
    }

    .blog-item__desc {
        font-size: 0.9rem;
    }
    .blog-items-tag {
        font-size: 0.7rem;
    }
}

